.songname {
    margin-left: 10%;
}

#popular {
    margin-left: 10%;
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
}

#popularSongs{
    color: white;
}

.row {
    margin-bottom: 0px;
}

.relevantalbums {
    color: white;
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: 'Bitter', serif;
    text-align: center;
}

.collapsible.popout {
    margin-left: 20%;
    margin-right: 20%;
    background-color: black;
    border: none;
}

.collapsible-header{
    background-color: black;
    border: none;
}

.collapsible-body, .collapsible-header{
    color: white;
    border: none;
}

.nav-wrapper {
    margin-right: 10%;
    margin-left: 10%;

}

.big {
    margin-left: 45%;
    margin-right: 45%;
    margin-top: 10%;
}

.carousel {
    width: 80%;
    margin: 0 auto;
    height: 300px;
    
}

body{
    background-color: black;
}

.body {
    padding-bottom: 30px;
    background-color: black !important;  
}

.card {
    box-shadow: 0 5px 10px;
    margin-top: 30px;
}
::-webkit-input-placeholder { /* WebKit browsers */
color:   black;
opacity: .5 !important;
}